.my-card-header {
  padding: 1px ;
  font-weight: bold ;
}

.my-title-link{
  color: $fg-light ;
}
.my-title-link-text{
  font-family: $title-font ;
  font-weight: bold ;
}
.my-title-name{
  padding: 2px;
  font-family: $title-font ;
  font-weight: bold ;
  font-size: 130% ;
}

.my-subtitle{
  font-family: $title-font ;
  font-weight: bold ;
  font-size: 120%
}

.my-label{
  font-family: $title-font ;
}

.my-button{
  padding-right:7px;
  padding-left:7px;
  padding-top:0px;
  padding-bottom:0px;
  //background-color: $bg-dark ;
  color: $fg-dark ;
}
.my-button-text{
  font-family: $title-font ;
  color: $fg-dark ;
  font-weight: bold ;
}

.my-list-item{
  padding: 5px ;
  font-family: $text-font ;
  font-size: 100% ;
  font-weight: normal ;
}

.my-collapse {
  color: $fg-dark ;
  font: $title-font ;
  font-size: 1.2em;
}
.my-collapse:hover {
  color: $fg-dark ;
}
